PORT=4000 #in locale scegliamo noi la porta, ma online la decide Render 
MONGO_URI=inserisci_qui_la_tua_stringa_mongodb 
CLIENT_URL=http://localhost:5173
JWT_SECRET=
NODE_ENV=development
FRONTEND_URL=